{%extends 'base.html'%} {% block css_files %}   
{% load static %}

      <link rel="stylesheet" href='{% static "challenges/challenge.css" %}' ></link>
      <link rel="stylesheet" href='{% static "challenges/includes/header.css" %}' ></link>
{% endblock %} {%block page_title%} {{ month|title }} challenge
{%endblock%} {% block content %} {% include "challenges/includes/header.html" %}
<h1>{{ month|title }} challenge:</h1>
{% if text is not None %}
<h2>{{ text }}</h2>
{% else %}
<p>There is no challenge for this month yet!</p>
{% endif %} {%endblock%}
